@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #fafafa;
}

a {
    color: #673ab7;
    text-decoration: none;
}

.footer {
    background-color: rgb(44, 44, 44);
    position: fixed;
    bottom: 0;
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: x-small;
}