.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas: 
    ". . ."
    ". winners ."
    ". eligible . "
    ". . .";
    height: 100%;
}

.eligible, .winners {
    text-align: justify;
}

.eligible {
    grid-area: eligible;
}

.winners {
    grid-area: winners;
}